body {
    margin: 0;
}

.App {
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;

   .navbar__items {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;

        .navbar--login {
            margin-left: auto;
        }

        .navbar--logout {
            margin: 0 10px 0 auto;
        }

        .navbar--logo {
            color: white;
            margin: 0 10px;
            cursor: pointer;
        }

        .navbar--hamburger {
            display: none;
            cursor: pointer;
            svg {
                width: 60px;
                height: 60px;
            }
        }

        .navbar--secondary {
            color: dodgerblue;
        }
 
        a {
            text-decoration: none;
            color: white;
            margin-right: 10px;
        }

        a:hover {
            color: dodgerblue;
        }

        @media screen and (max-width: 768px){
            a {
                display: none;
            }

            .navbar--hamburger {
                display: block;
                color: white;
                margin-left: auto;
            }
        }
   }

  }
}
