body {
    margin: 0;
}

.App {
  .navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;

   .navbar--items {
        display: flex;
        position: relative;
        align-items: center;
        width: 100%;
        height: 60px;

        .navbar--mobile--background {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 60px;

            .navbar--list--mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                z-index: 1;
                background-color: black;
                color: white;

                a {
                    text-decoration: none;
                    color: white;
                    margin-bottom: 10px;
                }

                a:hover {
                    color: dodgerblue;
                }

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        .navbar--list--desktop {
            display: flex;
            height: 100%;
            gap: 15px;
    
            .navbar--logout {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                margin-right: 10px;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .nav--item {
                display: flex;
                align-items: center;
                height: calc(100% - 5px);
    
                .navbar--login {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-right: 10px;
                }
    
                a {
                    text-decoration: none;
                    color: white;
                }
    
                a:hover {
                    color: dodgerblue;
                }
    
                @media screen and (max-width: 768px){
                    display: none;    
                }
    
            }

            .navbar--secondary {
                a {
                    color: dodgerblue;
                }
            }
    
            .navbar--marker {
                border-bottom: 5px solid gray;
            }
        }

        .navbar--logo {
            color: white;
            margin: 0 10px;
            cursor: pointer;
        }

        .navbar--hamburger {
            display: none;
            cursor: pointer;
            svg {
                width: 60px;
                height: 60px;
            }

            @media screen and (max-width: 768px){
                display: block;
                color: white;
                margin: 0 10px 0 auto;
            }
        }

   }

  }

  .container {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    font-size: 1.6rem;

    h1 {
        font-size: 2rem;
    }

    .auth {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;

        form {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 5px 1px gray;
            gap: 10px;

            h2 {
                text-align: center;
                margin: 0 0 20px 0;
            }

            h2::first-letter {
                text-transform: uppercase;
            }

            button {
                width: 100%;
                max-width: 100%;
                margin-left: 100%;
                transform: translateX(-100%);

                @media screen and (min-width: 768px) {
                    max-width: 150px;
                }
            }

            button::first-letter {
                text-transform: uppercase;
            }

            .input--auth {
                display: flex;
                flex-direction: column;
                label {
                    width: 200px;
                }
                input {
                    width: 100%;
                    box-sizing: border-box;
                }
            }

            .p--auth {
                display: flex;
                justify-content: center;
                gap: 5px;

                p {
                    margin: 0;
                    font-size: 1rem;
                }

                p:nth-of-type(2) {
                    color: dodgerblue;
                    cursor: pointer;
                }

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }

    form {
        display:flex;
        flex-direction: column;

        input {
            height: 30px;
            margin-top: 5px;
        }

        .input--ingredient {
            display: flex;
            position: relative;
            align-items: center;
            margin-top: 5px;

            input {
                width: 100%;
                margin-top: 0px;
                overflow: hidden;
            }

            button {
                width: 36px;
                height: 36px;
                overflow: hidden;
                position: absolute;
                right: 0;
                border: 1px solid dodgerblue;
                background-color: white;
                color: dodgerblue;
            }

            button:hover {
                background-color: dodgerblue;
                color: white;
                border: 0;
            }

        }

        button {
            width: 100%;
            max-width: 150px;
            height: 30px;
            margin-top: 5px;
            color: dodgerblue;
            background-color: white;
            border: 1px solid gray;
            border-radius: 5px;
        }

        button:hover {
            color: white;
            background-color: dodgerblue;
            outline: 0;
            border: 0;
            cursor: pointer;
        }

        .button--end {
            margin-left: auto;
        }

    }

    .recipe--card--list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        .recipe--card {
            padding: 10px;
            h2 {
                margin: 0 0 10px;
            }

            h2::first-letter {
                text-transform: uppercase;
            }
            img {
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 10px;
            }

            p {
                margin: 10px 0 0;
            }
        }

        .recipe--card:hover {
            transform: scale(1.05);
            cursor: pointer;
            @media screen and (max-width: 500px) {
                transform: scale(1.02);
            }
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);

            .recipe--card {
                padding: 20px;
                h2 {
                    margin: 0 0 10px;
                }
                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                }
    
                p {
                    margin: 10px 0 0;
                }
            }
    
        }
    }
    .recipe--detail {
        display: flex;
        flex-direction: column;

        .button--group {
            margin-top: 20px;
            align-self: flex-end;

            button {
                color: blue;
                background-color: transparent;
                border: 0;
                cursor: pointer;
                
                svg {
                    font-size: 30px;
                }

            }
            
            .button--bin {
                color: red;
            }

            .button-undo {
                color: black;
            }
        }

        .ingredients {
            display: flex;
            flex-direction: column;
        }

        .instructions {
            display: flex;
            flex-direction: column;

            p {
                white-space: pre-line;
                line-height: 30px;
            }
        }

        h1 {
            font-size: 2rem;
            margin: 0;
        }

        h2 {
            font-size: 1.7rem;
            margin: 0;
        }

        h2::first-letter {
            text-transform: uppercase;
        }

        p {
            font-size: 1.3rem;
            margin: 5px 0;
        }

        img {
            width: 100%;
            border-radius: 10px;
            margin: 20px 0;
        }
    }
  }

}
